@media(min-width: 1400px) {
    .about_tab{
        max-width: 600px;
    }
    .about_tab_btn {
        padding-top: 12px;
    }
}
@media(min-width: 1200px) and (max-width:1399.98px) {
    .about_tab_btn .nav-link {
        padding: 10px 10px;
    }
    .about_tab_btn {
        padding-top: 8px;
    }
    .blog_slider .owl-nav .owl-prev {
        left: -30px;
    }
    .blog_slider .owl-nav .owl-next {
        right: -52px;
    }
    .footer_left ul li {
        padding: 0 7px;
    }
    .footer_text ul li {
        font-size: 14px;
    }
    .footer_right_bottom{
        padding-left: 0;
    }
}
@media(min-width: 992px) and (max-width:1199.98px) {
    .about_tab_btn .nav-link {
        padding: 10px 10px;
    }
    .about_tab_btn {
        padding-top: 0px;
    }
    .about_tab {
        padding-right: 24px;
    }
    .about_tab_cont .company span {
        padding-top: 10px;
    }
    .about_tab_cont {
        padding-top: 15px;
    }
    .about_tab_cont .company a {
        padding: 10px;
        margin-top: 10px;
    }
    .test_top {
        padding: 0 130px;
    }
    .footer_left{
        width: 400px;
    }
    .footer_right{
        width: 500px;
    }
    /* ==================== about page ================= */
    .produstry_cont {
        max-width: 448px;
        margin-left: 130px;
    }
    .produstry_cont p {
        padding-top: 15px;
    }
    .produstry_cont p span {
        padding: 12px 0;
    }
    #mission {
        padding: 20px 0;
    }
    .mission_cont {
        max-width: 475px;
        margin-right: 100px;
    }
    .mission_cont p {
        padding-top: 5px;
    }
    .mission_cont ul {
        padding: 12px 0 0 0px;
    }
}


@media(min-width: 768px) and (max-width:991.98px) {
    .padding_none {
        padding: 0;
    }

    .header_left {
        text-align: center;
    }

    .header_right ul li {
        margin-left: 20px;
    }

    .custom_nav {
        padding: 15px 0;
    }

    #mynav ul li a {
        text-align: left;
    }

    .custom_btn_pre {
        left: 20px;
    }

    .custom_btn_next {
        right: 20px;
    }

    .custom_btn_next,
    .custom_btn_pre {
        line-height: 40px;
        font-size: 30px;
        height: 40px;
        width: 40px;
    }

    .banner_cont {
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .about_tab {
        max-width: 720px;
        padding: 0 10px;
        margin: 0 auto;
    }
    #portfolio {
        padding: 30px 0;
    }

    #portfolio .section_heading p {
        padding: 12px 0 30px;
    }

    .port_items {
        margin: 10px 0;
    }
    #blog {
        padding: 40px 0;
    }
    .section_heading p {
        padding: 12px 0 25px;
    }
    .blog_slider .center .blog_items .blog_img {
        transform: translateY(-160px);
    }
    .blog_content p {
        padding: 8px 0 12px;
    }
    .test_top {
        padding: 0 40px;
    }
    .footer_text ul {
        justify-content: 0;
    }
    
    .footer_text ul {
        justify-content: normal;
    }
    .footer_text ul li {
        padding-right: 10px;
    }
    .footer_text ul li {
        padding-right: 0px;
    }
    /* ======================== about page ======================= */
    #produstry {
        padding: 40px 0;
    }
    .produstry_cont .section_heading h2 {
        text-align: center;
    }
    .produstry_cont {
        max-width: 100%;
        margin-left: 0;
    }
    .produstry_cont p {
        padding-top: 30px;
    }
    #mission {
        padding: 0;
    }
    .mission_cont .section_heading h2 {
        text-align: center;
    }
    .mission_cont {
        max-width: 100%;
        margin-right: 0;
    }
    .mission_cont p {
        padding-top: 30px;
    }
    .mission_cont ul {
        padding: 30px 0 0 0px;
    }
    #team {
        padding: 40px 0 70px;
    }
    .team_cont {
        clip-path: polygon(0 40%, 180% 0, 100% 100%, 0% 100%);
    }
    .team_slider .center .team_items .team_cont {
        clip-path: polygon(0 31%, 185% 0, 100% 100%, 0% 100%);
        padding-top: 60px;
    }
    .team_icon ul li {
        padding: 0 0px 0px;
    }
    .team_slider .center .team_items .team_cont .team_icon {
        padding-top: 12px;
    }
    .footer_left{
        max-width: 450px;
    }
    .footer_right{
        max-width: 474px;
    }
    .news_form {
        right: 45px;
    }
}

@media(min-width: 576px) and (max-width:767.98px) {
    .header_left p {
        font-size: 14px;
    }

    .header_mid {
        clip-path: none;
    }

    .header_right ul {
        text-align: center;
        padding: 8px 0;
    }

    .custom_nav {
        padding: 10px 0;
    }

    #mynav ul li a {
        text-align: left;
    }

    .banner_items {
        height: 430px;
    }

    .banner_cont h2 {
        font-size: 35px;
    }

    .banner_cont a {
        font-size: 16px;
        font-weight: 500;
        padding: 8px 10px;
        margin: 0 10px;
    }

    .banner_cont p {
        padding: 5px 0 26px;
    }

    #service {
        padding: 40px 0 70px;
    }
    .about_tab {
        max-width: 540px;
        padding: 0 10px;
        margin: 0 auto;
    }

    #portfolio {
        padding: 30px 0;
    }

    #portfolio .section_heading p {
        padding: 12px 0 30px;
    }

    .port_items {
        margin: 10px 0;
    }
    #counter {
        height: auto;
        padding: 20px 0;
    }
    .counter{
        padding: 15px 0;
    }
    #blog {
        padding: 40px 0;
    }
    .section_heading p {
        padding: 12px 0 25px;
    }
    .test_top {
        padding: 0 10px;
    }
    /* =============== about page ============== */
    #produstry {
        padding: 40px 0;
    }
    .produstry_cont .section_heading h2 {
        text-align: center;
    }
    .produstry_cont {
        max-width: 100%;
        margin-left: 0;
    }
    .produstry_cont p {
        padding-top: 30px;
    }
    #mission {
        padding: 0;
    }
    .mission_cont .section_heading h2 {
        text-align: center;
    }
    .mission_cont {
        max-width: 100%;
        margin-right: 0;
    }
    .mission_cont p {
        padding-top: 30px;
    }
    .mission_cont ul {
        padding: 30px 0 0 0px;
    }
    .news_form {
        width: 100%;
        right: 0;
    }
    #newsletter {
        padding: 60px 0;
    }
    .blog_items_bottom {
        width: 100%;
    }
    .service_p_items {
        padding: 40px 35px;
    }
}

@media(max-width: 575.98px) {
    .header_left p {
        text-align: center;
    }

    .header_right ul {
        text-align: center;
        padding: 8px 0;
    }

    .header_mid {
        padding: 8px 0;
        clip-path: none;
    }

    .header_left {
        padding: 5px 0;
        text-align: left;
    }

    .padding_none {
        padding: 0;
    }

    .custom_nav {
        padding: 10px 0;
    }

    #mynav ul li a {
        text-align: left;
    }

    .banner_items {
        height: 430px;
    }

    .banner_cont h2 {
        font-size: 30px;
    }

    .banner_cont a {
        font-size: 14px;
        font-weight: 400;
        padding: 5px 8px;
        margin: 0 8px;
    }

    .banner_cont p {
        padding: 5px 0 26px;
    }

    #service {
        padding: 25px 0 40px;
    }
    .about_tab {
        max-width: 100%;
        padding: 0 10px;
    }
    .about_tab_btn .nav-link {
        padding: 10px 5px;
    }
    #portfolio {
        padding: 30px 0;
    }

    #portfolio .section_heading p {
        padding: 12px 0 30px;
    }

    .port_items {
        margin: 10px;
    }
    #counter {
        height: auto;
        padding: 20px 0;
    }
    .counter{
        padding: 15px 0;
    }
    #blog {
        padding: 30px 0;
    }
    .section_heading p {
        padding: 12px 0 20px;
    }
    .blog_slider .center .blog_items .blog_img {
        transform: translateY(-160px);
    }
    .test_top {
        padding: 0 10px;
    }
    .test_top h4 {
        padding: 2px 0;
    }
    .test_top p {
        padding: 25px 0 15px;
    }
    .test_img {
        margin-top: 15px;
    }
    #footer {
        padding-top: 20px;
    }
    .footer_right h5, 
    .footer_link h5, 
    .footer_contact h5 {
        padding: 45px 5px 30px;
    }
    .footer_link ul{
        padding: 0 8px;
    }
    .footer_text p {
        padding-left: 20px;
    }
    .footer_text ul {
        padding: 0 0 0 20px;
    }
    .footer_text p {
        font-size: 14px;
    }
    .footer_text ul li {
        font-size: 14px;
    }
    .footer_bottom {
        margin-top: 20px;
        padding: 8px 0;
    }
    /* =================about page===================== */
    #produstry {
        padding: 35px 0;
    }
    .produstry_cont .section_heading h2 {
        text-align: center;
    }
    .produstry_cont {
        max-width: 100%;
        margin-left: 0;
    }
    .produstry_cont p {
        padding-top: 25px;
    }
    #mission {
        padding: 0;
    }
    .mission_cont .section_heading h2 {
        text-align: center;
    }
    .mission_cont {
        max-width: 100%;
        margin-right: 0;
    }
    .mission_cont p {
        padding-top: 25px;
    }
    .mission_cont ul {
        padding: 30px 0 0 0px;
    }
    .news_form {
        width: calc(100% + 5px);
        right: 0;
        box-shadow: none;
    }
    #newsletter {
        padding: 30px 0;
    }
    .blog_items_bottom {
        width: 100%;
        padding: 65px 10px 30px;
        bottom: -311px;
    }
    .service_p_items h3 {
        font-size: 40px;
    }
    .service_p_items{
        padding: 30px;
    }
}